
*{
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

.App{
  background-image: url(./photo/galacticcore.jpg.webp);
  height: 100vh;
  width: 97.5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  padding-right: 40px;
  justify-content: space-between;
  overflow: hidden;
}

.Right{
  width: 75%;
  border: 3px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  column-gap: 40px;
  row-gap: 5px;
}

.Left{
  width: 20%;
  border: 3px solid red;
  background-color: rgba(255, 255, 255, 0.09);
}

.grid-item{
  display: inline;
  border-radius: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.09);
  padding:15px 0 ;
}

.first{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border:3px solid yellow;
}

.second{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border:3px solid green;
}

.third{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border:3px solid blue;
}

.fourth{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border:3px solid white;
}

.Left h1{
  line-height: 5;
}

.Left h2{
  line-height: 2.5;
}

.Search{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
}
#starter,#filtering{
  background-color: grey;
  margin-left: 2px;
}
.Tablee{
  width: 100%;
}